/* NetWorks form */

.magritte{
     h3 {
        // padding-top:10px;
     }
    
     dl{
        dt{
            padding-top: 25px;
            padding-bottom:5px;
        }
        
        textarea{
            width:100%; 
        }
    }
 }

.box-header.with-border, .nav-tabs-custom > .nav {
	border-bottom: 1px solid rgba(0,0,0,0.15);
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 60%,rgba(0,0,0,0.05) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 60%,rgba(0,0,0,0.05) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(0,0,0,0) 60%,rgba(0,0,0,0.05) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.form-buttons {
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
    border-top: 1px solid rgba(0,0,0,0.15);
    padding-top: 12px;
    margin-left: -10px;
    padding-left: 10px;
    margin-right: -10px;
    padding-right: 10px;
    background: -moz-linear-gradient(top, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0) 40%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.05) 0%,rgba(0,0,0,0) 40%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(0,0,0,0.05) 0%,rgba(0,0,0,0) 40%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    position: fixed;
    bottom: 0px;
    width: 100%;
    
    button {
    	margin-left: 0px;
    	margin-right: 12px;
    
    	// Request - move save button to left
        &:nth-of-type(1), &:nth-of-type(2) {
        	float: left;
        	margin-left: 12px;
			margin-right: 0px;
        }
    }
    
    &:after {
    	content: " ";
		clear: both;
		display: table;
	}
}

.nav-tabs-custom {
	margin-bottom: 0;
	
	& + .form-buttons {
		margin: 0;
		margin-left: -15px;
		padding-left: 16px;
		padding-bottom: 24px;
		background-color: rgba(255,255,255,0.85);
	}
}

.box-footer {
	.buttons {
		float: right;
		
		button {
			margin-left: 6px;
		}
	}
}

textarea {
    // Styles to match bootstrap text input fields
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 6px 12px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

label.checkbox {
	margin-left: 24px;
}
