/* Generic Panel  */

input[type="search"] {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	-webkit-appearance: searchfield;
	width: 90px;
}

input[type="search"]::-webkit-search-cancel-button {
	-webkit-appearance: searchfield-cancel-button;
}

.answerBtn {
	position:absolute;
	right: 16px;
	top:70px;
}

.filters {
	button {
		border-radius: 12px;
		padding-left: 6px;
		
		.badge {
			position: relative;
			top: -1px;
		}
	}
}

.assignment, .scheduling {
	
	.ui-selected {
		background-color: rgba(0,0,0,0.05);
	}
	.focus {
		.ui-selected {
			background-image: linear-gradient(rgb(66, 139, 202) 0%, rgb(53, 126, 189) 100%);
			color: white;
			
			.fa {
				opacity: 0.9;
				color: rgba(255,255,255,0.65);
			}
		}
	}
	
	.box-header {
		padding: 4px;
		
		.box-title {
			margin-top: 4px;
		}
		
		.box-tools {
			position: relative;
			top: -1px;
			
			.search {
				position: relative;
				top: 1px;
			}
		}
	}
	
	.box-body {
		padding: 0;
		height: 200px;
		overflow-y: auto;
		overflow-x: hidden;
	}
	
	.box-footer {
		padding: 2px 6px;
		background: rgba(0,0,0,0.05);
		
		p {
			font-size: 11px;
			padding: 0;
			margin: 0;
		}
	}
	
	.panel-report {
		.report-row {
			display: flex;
			align-items: center;
			padding: 4px 12px;
			z-index: 9999;
			
			.icon {
				align-self: flex-start;
				
				span {
					margin-right: 4px;
				}
			}
			
			.labels {
				flex-grow: 100;
				display: flex;
				flex-direction: column;
				
				
				.title {
					font-weight: bold;
					line-height: 0.8em;
				}
				
				.comment {
					font-size: 0.75em;
				}
			}
			
			.columns {
				display: flex;
				text-align: right;
				
				
				.col {
					padding-left: 2px;
					min-width: 60px;
					width: 60px;
				}
			}
			
			.fa {
				opacity: 0.9;
				color: #428bca;
			}
		}
	}
	
	.ui-selected {
		background-color: rgba(0,0,0,0.05);
	}
	.focus {
		.ui-selected {
			background-image: linear-gradient(rgb(66, 139, 202) 0%, rgb(53, 126, 189) 100%);
			color: white;
			
			.fa {
				opacity: 0.9;
				color: rgba(255,255,255,0.65);
			}
		}
	}
}

.dropHover {
	box-shadow: inset 0px 0px 6px 3px rgba(0,0,0,0.15);
}


/* NAV TABS */
$light-blue: #3c8dbc;

.nav-tabs-custom {
	> .nav-tabs {
		> li {
			> button {
				padding: 8px;
				font-size: 0.9em;
				border: 0;
				color: #444;
				border-radius: 0;
				
				&.text-muted {
					color: #999;
				}
				&, &:hover {
					background: transparent;
					margin: 0;
				}
				&:hover {
					color: #999;
				}
			}
			&:not(.active) {
				> button:hover,
				> button:focus,
				> button:active {
					border-color: transparent;
				}
			}
			margin-right: 5px;
		}

		> li.active {
			border-top-color: $light-blue;
				& > button, &:hover > button {
				background-color: #fff;
				color: #444;
			}
			> button {
				border-top-color: transparent;
				border-left-color: #f4f4f4;
				border-right-color: #f4f4f4;
			}
		}

		> li:first-of-type {
			margin-left: 0;
			&.active {
				> button {
					border-left-color: transparent;
				}
			}
		}

		//Pulled to the right
		&.pull-right {
			float: none !important;
			> li {
				float: right;
			}
			> li:first-of-type {
				margin-right: 0;
				> a {
					border-left-width: 1px;
				}
				&.active {
					> button {
						border-left-color: #f4f4f4;
						border-right-color: transparent;
					}
				}
			}
		}
		
		li.header {
			margin-top: 6px;
			font-size: 18px;
			line-height: 1;
		}
	}
}
