[Unit]
Description=Seaside Web Application Server for MyNation.Earth Systems
Requires=gemstone

[Service]
Type=forking

Environment=GS_HOME=/opt/GsDevKit_home

ExecStart=/opt/git/MyNationEarth/NetWorks/bin/startSeaside.sh networks
ExecStop=/opt/git/MyNationEarth/NetWorks/bin/stopSeaside.sh networks

User=ubuntu
Group=ubuntu
UMask=0007
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target